<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试工具集成</title>
</head>
<body>
<h1>测试工具集成</h1>
<input type="button" name="zendaobugmain" value ="禅道工具" onclick="window.location.href='/zendaobugmain'"/>
<input type="button" name="zendaobugmain" value ="接口自动化" onclick="window.location.href='/inferauto'"/>
<input type="button" name="zendaobugmain" value ="数据中台造数" onclick="window.location.href='/datamake'"/>
<input type="button" name="zendaobugmain" value ="提测单检查工具" onclick="window.location.href='/testcheck'"/>
</body>
</html>